.alert-success {
  display: flex;
  align-items: center;

  &::before {
    background-size: 1.5rem 1.5rem;
    background-position: center;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5px;
  }

  a {
    margin-left: 2px;
  }
}
