/* ------------------ Sidebar ----------------- */

.region-sidebar {
  flex-direction: column;

  & > div:not(:first-child) {
    margin: 0 25px;
    padding: 40px 0;
    border-bottom: 1px solid #E0E0E0;
  }

  // Votes block.
  &--flag-and-follow {
    background-color: #F6F7F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .votingapi-reaction-form input[type="radio"] {
      display: none;
    }

    &--element {
      width: 50%;
        svg {
          fill: white;
          margin-right: 8px;
          width: 18px;
          height: 18px;
        }

        .flag-follow {
          svg {
            transform: rotate(180deg);
          }
        }

      .votingapi-reaction-form {
        .form-check {
          padding-left: 0;
        }

        .form-check-label {
          width: 100%;
        }
      }

      a,
      .votingapi-reaction-item,
      .flag-follow--body {
        display: flex;
        text-transform: uppercase;
        padding: $font-size-xs 0;
        align-items: center;
        justify-content: center;
        line-height: 1;
      }

      .votingapi-reaction-item {
        font-size: $font-size-xs;
        margin-bottom: 59px;
        @include btn-theme($btn-dark, #1e7697);
        margin-right: 0;
      }

      .flag-follow {
        display: block;
        margin: 70px 0 11px 0;

        a,
        &--body {
          font-size: $font-size-xs;
          @include btn-theme($btn-light, #5eaed2);
        }
      }
      .flag-follow--body {
        margin: 70px 0 11px 0;
      }
    }
  }
}

.site-sidebar-idea.site-sidebar {
  background-color: $white;

  h2 {
    text-transform: uppercase;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
  }
}

// Dates block
.idea-dates-block {
  .views-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    .views-label {
      font-weight: $font-weight-bold;
      font-size: $font-size-sm;
      margin-bottom: 16px;
    }

    .field-content {
      font-size: $font-size-sm;
      color: $dark-gray;
    }
  }
}

// Statistics block
.idea-statistics-block {
  .field-content {
    margin-bottom: 15px;
    font-size: $font-size-base;

    img {
      margin-right: 10px;
    }
  }

  &--type__wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
  }

  &--type {
    margin-left: 5px;
    font-size: 13px;
    color: $dark-gray;
    font-weight: $font-weight-normal;
  }
}

// Followers block
.idea-followers-block {
  .view-content {
    display: flex;
    flex-wrap: wrap;

    img {
      margin-right: 12px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 1099px) {
  .block-views-blockideas-idea-flag-vote-block {
    font-size: $font-size-sm;
  }
}