.site-footer {
  position: sticky;
  bottom: 0;
  min-height: 6vh;
  padding: 17px;
  background: #3C414F;


  &--powered-by {
    text-align: center;
    font-size: $font-size-sm;
    color: $white;

    &__drupal {
      font-weight: $font-weight-bold;
    }
  }

  // Add to any.
  .block-addtoany-block {
    position: absolute;
    top: 18%;
    right: 0;
    padding-right: 12px;
  }

  .block-views-blockideas-idea-mobile-footer-block {
    display: none;
  }
}


@media (max-width: 991px) {
  .site-footer {
  background: $white;
  border-radius: 8px 8px 0 0;

    .block-views-blockideas-idea-mobile-footer-block {
      display: block;

      .views-row {
        padding: 14px;
        display: flex;
        flex-grow: 1;
        justify-content: space-evenly;
        align-items: center;


        .views-field-field-voting {
          .form-group {
            margin: 0;
          }
        }

        .views-field {
          color: #676C72;
          font-size: 20px;
          text-transform: uppercase;
          padding-right: 3em;

          i {
            font-size: 34px;
          }
          img {
            width: 34px;
          }

          .site-footer--mobile-block--element,
          .openideal-like-widget {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .openideal-like-widget {
            margin-right: 0 !important;
          }

          .like-rating a {
            color: inherit;
            text-decoration: none;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .views-field:not(:last-child) {
          border-right: 1px solid #E0E0E0;
        }
      }
    }

    .block-addtoany-block,
    &--powered-by {
      display: none;
    }
  }
}

@media (max-width: 763px) {
  .site-footer {
    padding: 0;
    .block-views-blockideas-idea-mobile-footer-block .views-row .views-field {
      font-size: 15px;
      padding-right: 3em;
    }
  }
}

@media (max-width: 572px) {
  .site-footer .block-views-blockideas-idea-mobile-footer-block .views-row .views-field {
    font-size: 14px;
    padding-right: 1.5em;
  }
}

@media (max-width: 420px) {
  .site-footer .block-views-blockideas-idea-mobile-footer-block .views-row .views-field {
    padding-right: 10px;
  }
}