.teaser-view-mode {

  /**  Exposed filters   */
  .form-row {
    align-items: center;
    margin-bottom: 1rem;
  }

  .form-group {
    margin-bottom: 0;
  }

  fieldset {

    label {
      display: none;
    }

    select {
      height: 100%;
      background-color: $white;
      border: 0;
      font-size: 16px;
    }

    .select-prepend {
      font-weight: $font-weight-bold;
    }
  }

  .form-item-search {
    border: unset;
    padding: 0;
    position: relative;
    border: 0.8px solid #D0D6DC;
    border-radius: 30px;
    background: #E8E8E9;
    margin-top: 0;

    label {
      display: none;
    }

    input {
      padding: 18px 3rem 18px 18px;
      background: transparent;
      border: none;
      margin: 0;

      &:focus {
        outline: unset;
        box-shadow: none;
      }

      &::placeholder {
        color: #828282;
        font-style: $font-weight-base;
      }
    }

    .search-submit-button {
      position: absolute;
      background: url('../misc/icons/search.svg') no-repeat center center;
      width: 20px;
      height: 20px;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 30;
    }
  }

}

/** The teaser mod itself */
.node--view-mode-teaser {
  background: $white;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;

  .teaser-top-section {
    display: flex;

    &--section__first {
      width: auto;
      max-width: 400px;
      height: 190px;

      a {
        height: 190px;
        display: block;
      }

      img {
        border-radius: unset;
        height: 100%;
      }
    }

    &--section__second {
      flex-grow: 1;
      padding: 23px;
    }

  }

  .teaser-bottom-section {
    padding: 12px;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.05), 0px -1px 6px rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;

    &--section__first {
      width: auto;
    }

    &--section__second {
      width: auto;
      font-weight: bold;
      font-size: 14px;
      margin-left: auto;
      display: flex;
    }

  }

  /** Blocks */

  // Created
  .block-field-blocknodeideatitle {
    a {
      display: inline-block;
      font-size: 25px;
      color: $main-font-color;
      line-height: 30px;
      margin-bottom: 12px;
    }
  }

  // Body
  .block-field-blocknodeideabody {
    p {
      font-size: 18px;
      line-height: 24px;
      color: $dark-gray;
    }
  }

  // Statistics
  .idea-statistics-block {
    margin: 0;

    &--list {
      display: flex;
      flex-direction: row-reverse;
      font-size: 14px;
      margin: 0 17px 0 27px;
      color: #676C72;

      &__item {
        flex-direction: row-reverse;
        margin: 0;

        .item-svg {
          background-size: 18px 18px;
          width: 18px;
          height: 18px;
        }

        &--public_stream_view.item-svg {
          background: url('../misc/icons/public_stream_view.svg') no-repeat center center;
          background-size: 20px 20px;
        }

        &--public_stream_comment {
          background: url('../misc/icons/public_stream_comment.svg') no-repeat center center;
        }

        &--public_stream_like {
          background: url('../misc/icons/public_stream_like.svg') no-repeat center center;
        }
      }
    }
  }

  // Author
  .block-openideal-user-user-name-block {
    a {
      font-size: $font-size-sm;
    }
  }

  .profile-author-view-mode .layout__region--content {
    margin-bottom: 0;
  }

  // Created
  .block-field-blocknodeideacreated,
  .block-field-blocknodechallengecreated {
    margin-right: 4px;

    span {
      color: #676C72;
      font-size: inherit;
    }
  }

  // Follow
  .flag-follow a,
  .teaser-flag--element__text {
    cursor: pointer;
    color: #1294CA;
    padding: 0.5em 0.7em;
    border: 1.5px solid #1294CA;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 30px;

    svg {
      display: none;
    }
  }

  .layout--onecol .layout__region {
    width: auto;
  }

}
