{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{# @Todo: Add images #}
<div class="site-wide-statistics-block">
    <ul class="site-wide-statistics-block--list">
        <li class="site-wide-statistics-block--item">
            <p class="site-wide-statistics-block--count">{{ content.ideas }}</p>
            <p>Ideas</p>
        </li>
        <li class="site-wide-statistics-block--item">
            <p class="site-wide-statistics-block--count">{{ content.members }}</p>
            <p>Members</p>
        </li>
        <li class="site-wide-statistics-block--item">
            <p class="site-wide-statistics-block--count">{{ content.comments }}</p>
            <p>Comments</p>
        </li>
        <li class="site-wide-statistics-block--item">
            <p class="site-wide-statistics-block--count">{{ content.votes }}</p>
            <p>Votes</p>
        </li>
    </ul>
</div>