{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<div class="count-of-idea-with-title">
    <p>Challenge ideas ({{ count }})</p>
</div>
